.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(34, 33, 33);
    color: rgb(255, 255, 255);
    padding:1.2rem 3rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .header a {
    color: rgb(255, 255, 255);
    margin-right: 20px;
  }
  
  .header a:hover {
    color: aqua;
  }
  .header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  
  .logo {
    color: rgb(255, 0, 0);
    font-size: 20px;
    text-transform: uppercase;
  }
  
  .logo a {
    color: aqua;
    font-weight: 600;
    font-size: 2rem;
  }
  .tech {
    color: white;
  }
  
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      height: auto;
    }
  
    .header ul {
      margin: 20px 0;
      flex-direction: column;
      text-align: center;
    }
  
    .header a {
      margin-right: 0;
    }
  
    .logo {
      margin: 20px 0;
    }
  }
  